<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Student(s)</th>
      <th scope="col">Grade</th>
      <th scope="col">Taught_By</th>
      <th scope="col">Earnings</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @class_reports.each do |class_report| %>
      <tr>
        <td><%= class_report.student_name %></td>
        <td><%= class_report.student_level %></td>
        <td><%= class_report.user_id %></td>
        <td><%= class_report.earnings %></td>
        <td><%= class_report.date_of_class %></td>
        <td><%= link_to 'Show', class_report %> |
        <%= link_to 'Edit', edit_class_report_path(class_report) %> |
        <%= link_to 'Destroy', class_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
