<p id="notice"><%= notice %></p>

<h1>Class Reports</h1>

<%= form_tag "/class_reports", method: :get do %>
  <%= select_tag "month", options_for_select(@dates_otions) %>
  <%= submit_tag "Filter Class Reports" %>
<% end %>

<%= render 'class_report_table' %>

<br>

<%= render 'sum_snippet' %>

<%= link_to 'New Class Report', new_class_report_path %><br>
<%= link_to 'Back to Dashboard', dashboard_path %>
