<div id="show_box">
  <table>
      <tr>
        <th>Class Date</th>
        <th>Student</th>
        <th>Class Notes</th>
        <th>You Earned</th>
      </tr>
      <tr>
        <td><%= @class_report.date_of_class %></td>
        <td><%= @class_report.student_name %></td>
        <td><%= @class_report.class_notes %></td>
        <td><%= @class_report.earnings %></td>
      </tr>
  </table>
</div>

<%= link_to 'Edit', edit_class_report_path(@class_report) %> |
<%= link_to 'Back', class_reports_path %>
