<%= render 'error' %>
<%= form_for(student) do |f| %>
  <div class="sign-in container center_div dark-background">
    <h1>New Student</h1>
    <%= bootstrap_form_for(@student) do |f| %>
      <p>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.number_field :age %>
      </p>
      <p>
        <%= f.number_field :level %>
      </p>
      <p>
        <%= f.text_field :location %>
      </p>
      <p>
        <%= f.date_field :birthday %>
      </p>
      <p>
        <%= f.text_field :strength_weak %>
      </p>
      <div class="actions">
        <%= f.submit %>
      </div>
      <div class="btn">
        <%= link_to 'Cancel / Go Back', students_path %>
      </div>
    <% end %>
  </div>
<% end %>
