<p id="notice"><%= notice %></p>

<h1>Students</h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Grade</th>
      <th scope="col">Location</th>
      <th scope="col">Teacher_ID</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @student.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.level %></td>
        <td><%= student.location %></td>
        <td><%= student.user_id %></td>
        <td><%= link_to 'Show', student %> |
        <%= link_to 'Edit', edit_student_path(student) %> |
        <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @student %>
<br>

<%= link_to 'New Student', new_student_path %><br>
<%= link_to 'Back to Dashboard', dashboard_path %>
