<!DOCTYPE html>
<html>
  <head>
    <title>Tutor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/login_notice' %>
    
    <%= render 'layouts/navbar' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
